<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamSantos - Atualizar</title>
</head>
<body>
    {{ pessoa.nome }} - {{ pessoa.idade }}

    <form action="{% url 'editar' pessoa.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome" value="{{ pessoa.nome }}" required>
        <input type="number" name="idade" placeholder="Idade" value="{{ pessoa.idade }}" required>
        <button type="submit">Atualizar</button>
    </form>
</body>
</html>