<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SamSantos - Home</title>
</head>
<body>
    <h1>Cadastro de Pessoas</h1>
    <ul>
        {% for pessoa in pessoas %}
            <li>
                {{ pessoa.id }} - {{ pessoa.nome }} - Idade = {{ pessoa.idade }} 
                <a href="{% url 'atualizar' pessoa.id %}">Editar</a> 
                <a href="{% url 'deletar' pessoa.id %}">Apagar</a>
            </li>
        {% endfor %}

        <form action="{% url 'salvar' %}" method="post">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="number" name="idade" placeholder="Idade" required>
            <button type="submit">Salvar</button>
        </form>
    </ul>
</body>
</html>